doctype html
html(lang="ru")
  head
    meta(charset=utf-8)
    title Fabrica test
    link(rel="stylesheet", href="css/style.css")
body
  main.page-main
    .page-main__messages-list
      span.page-main__message-del x
    .page-main__all-messages
    form.page-main__form
      input.page-main__form-input(type="text" name="text" placeholder="Type your message" autofocus)
      input.page-main__form-button(type="button" name="button" value="Send")

